
/* === basics === */
body#md {
  background: ghostwhite;
  color: DarkSlateGray;
  font-family: "Arial";
  font-size: 14px;
  text-align: left;
}

/* reset heading/link fonts to that of body */
.md a,
.md div.title, contents,
.md a:link, .md a:visited,
.md h1, .md h2, .md h3, .md h4, .md h5, .md h6 {
  font-family: inherit;
}

.md div.title {
  font-size: 200%;
}

.md a:link, .md a:visited {
  color: purple;
}

.md h1, .md h2, .md h3, .md h4, .md h5, .md h6 {
  color: black;
  font-size: 150%;
  padding-bottom: 0px;
}


/* === code === */
.md code {
  background: #eee;  
  font-family: "Consolas";
  font-size: 14px;
  text-align: left;
  padding-left: 2px;
  padding-right: 2px;
}

/*.md pre.listing code {
    font-weight: unset;
    background: none;
    color: unset;
}
*/
.md .listing code {
/*  background: WhiteSmoke;*/
  display:inline-block;
  border: 0.5px solid #fff;
}

.md .tilde code {
  background: #eee;  
  color: red;
}

.md .backtick code {
  background: #eee;
  color: green;
}

/* === quote === */
.md blockquote {
  color: gray;
  margin: 0;
  padding-left: 3em;
  border-left: 0.5em gray solid;
}

/* === table === */
/*.md table.table td {
  border: 1px solid black;
}

.md table.table th {
  border: none;
}

.md table.table tr:nth-child(even) {
  background-color: snow;
}
*/