
body#md {
  background: "ghostwhite";
  color: "DarkSlateGray";
  font-family: "Cascadia Code", "monospace";
  font-size: 14;
  text-align: left;
}


.md div.title {
/*  color: #d6ab62;*/
  font-size: 200%;
}

.md a:link, .md a:visited {
  color:SlateBlue;
}

/*.md hr {
  height: 0px;
  border: none;
  border-top: 0.1pt solid #777;
}
*/

.md h1, .md h2, .md h3, .md h4, .md h5, .md h6 {
  color: hotpink;
  border-color: pink;
  font-size: 150%;
  padding-bottom: 0px;
}

/*@media screen {
  .md h1, .md h2, .md h3, .md h4, .md h5, .md h6, .md div.nonumberh1, .md div.nonumberh2,.md div.nonumberh3, .md div.nonumberh4, .md div.nonumberh5, .md div.nonumberh6 {
    background: -webkit-linear-gradient(#f9deae, #a87215);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
*/
.md .listing {
  background: WhiteSmoke;
}

/*.md .tilde code {
  color: black;
}

.md .backtick code {
  color: black;
}
*/

b, em.asterisk {
    font-style: normal; font-weight: bold;
}

a em.asterisk {
    color: #6dafff;
}


@media screen {
    .md table.table td {
        border: 1px solid violet;
    }
    
    .md table.table th {
        background: cyan;
        border: none;
    }
    
    .md table.table th:last-child {
        border-right: 1px solid yellow;
    }
    
    .md table.table tr:nth-child(even) {
        background-color: lime;
    }
}
