
body#md {
    font-family: arial;
    font-size: 16;
}

/* reset heading/link fonts to that of body */
.md a,
.md div.title, contents,
.md h1, .md h2, .md h3, .md h4, .md h5, .md h6,
.md .table {
    font-family: inherit;
}

.md div.title {
    margin: 0.4em 0 0 0;
    padding: 0;
    text-align: inherit;
}

.md div.subtitle {
    text-align: inherit;
}

/* faint border below headings */
.md h1, .md h2, .md h3, .md h4 {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

/* heading font styles */
.md h1, .md div.title {
    font-size: 150%;
    font-weight: 600;
    color: rgba(0, 0, 0, .7);
}
.md h2 {
    font-size: 120%;
    font-weight: 400;
    color: rgba(0, 0, 0, .9);
}
.md h3 {
    font-size: 110%;
    font-weight: 400;
    color: rgba(0, 0, 0, .7);
}

/* no numbering of headings */
.md h1:before, .md h2:before, .md h3:before, .md h4:before { content: none; }

/* link styling */
.md a:link, .md a:visited {
    color: blue;
}

/* inline and block code */
.md code, .md pre.listing {
    background-color: rgba(0, 0, 0, .05);
    padding: 0.1em 0.2em;
    border-radius: 0.15em;
}
.md pre.listing code {
    background-color: transparent;
    padding: 0;
    border: none;
}

/* tables; use fainter colors than regular markdeep style */
.md table.table {
    font-size: 90%;
}

.md table.table th {
    border: none;
    background-color: #ccc;
    color: rgba(0, 0, 0, .6);
}
.md table.table tr, .md table.table td {
    border-color: #eee;
}
.md table.table tr:nth-child(even) {
    background-color: #f4f4f4;
}
